<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrennCicle</title>
<style>
    body{
        background-color: #0a0224;
        color: aliceblue;
}
header{
    display: flex;
        justify-items: start;
        justify-content: center;
        margin-left: -100em;
        
}



.links{
    display: flex;
    text-decoration: none;
    color:aliceblue;
}
        
</style>
</head>
<body>
    <header>
        <img class="header_foto"  />
        <a href="#" class="links">home</a>
        <a href="#" class="links">noticia</a>
       </header>
<div class="contianer"></div>
  <a href="" class="links2"></a>
   <a href="" class="links2"></a>
</footer>
</body>
 


</html>